{# templates/eventsList/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Événements{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>Liste des Événements</strong></h1>
                <br><br>
                <h3>Vue listant tous les événements avec options de filtrage.</h3>
            </div>
        </div>
    </div>
{% endblock %}