{# templates/accueil/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1><strong>Accueil</strong></h1>
        <br><br>
        <h3>Vue générale des événements disponibles.</h3>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% set colCounter = 0 %}
            {% for event in events %}
            {% if (event.isPublic or app.user) and event.remainingPlaces > 0 %}
            {% if colCounter % 3 == 0 and colCounter != 0 %}
        </div><div class="row row-cols-1 row-cols-md-3 g-4">
            {% endif %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 d-flex align-items-stretch">
                    <h3 class="card-header"><strong>{{ event.title }}</strong></h3>
                    <div class="card-body">
                        <h4 class="card-title"><strong>Détails</strong></h4>
                        <p class="card-text"><strong>Description de l'événement:</strong><br>{{ event.description }}</p>
                        <p class="card-text"><strong>Date & Horaire:</strong> {{ event.dateTime|date('d-m-Y H:i') }}</p>
                        <p class="card-text"><strong>Participants maximum:</strong> {{ event.maxParticipants }}</p>
                    </div>
                </div>
            </div>
            {% set colCounter = colCounter + 1 %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
