{# templates/registrations/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>Inscriptions</strong></h1>
                <br><br>
                <h3>Liste des événements auxquels l'utilisateur est inscrit.</h3>
            </div>
        </div>
    </div>
{% endblock %}