{# templates/userProfile/edit_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>Profil Utilisateur</strong></h1>
                <br><br>
                <h3>Changer de mot de passe</h3>
                <br>

                {{ form_start(form) }}
                {{ form_row(form.plainPassword.first, { 'label': 'Nouveau Mot de passe' }) }}
                {{ form_row(form.plainPassword.second, { 'label': 'Répéter le Nouveau Mot de passe' }) }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}