{# templates/userProfile/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>Profil Utilisateur</strong></h1>
                <br><br>
                <h3>Détails et édition des informations utilisateur.</h3>
            </div>
        </div>
    </div>
{% endblock %}